body{
    
 background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    
     min-height: 92.5vh;
 margin:0;
    display:flex;
    padding:0;
top: 0;
left: 0;
overflow: visible;
}
  
*{
        margin:0;
        padding:0;
    }

    h2,p{
        font-size:100%;
        font-weight:normal;
        color: black;
    }
    ul,li{
        list-style:none;
    }
    ul{
        overflow:hidden;
        padding:3em;
    }
    ul li a{
        text-decoration:none;
        color:#000;
        background:#f6ff7a;
        display:block;
        height:25em;
        width:25em;
        padding:1em;
        -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
       
        -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
        
        box-shadow: 5px 5px 7px rgba(33,33,33,.7);

        
    }
    ul li{
        margin:1em;
        float:left;
        min-height: 33%;
        /* -webkit-animation: slideIn 2s forwards;
        -moz-animation: slideIn 2s forwards;
        animation: slideIn 2s forwards; */
    }

    ul li:nth-child(1)
{
   
    animation: card1 2s ease-in-out;
   

}
ul li:nth-child(2)
{
   
    animation: card2 2s  ease-in-out;
   
}
ul li:nth-child(3)
{
    
    animation: card3 2s  ease-in-out;
   
}



    ul li h2{
        font-size:140%;
        font-weight:bold;
        padding-bottom:10px;
        font-family:"Jazz LET",fantasy;
    }
    ul li p{
        font-family:"Bradley Hand", cursive;
        font-size:180%;
    }

    /* ul li a:hover,ul li a:focus{
        -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        position:relative;
        z-index:5;
    } */

  
      
      @keyframes card1{
        from{
            transform:translateX(-80%);
            opacity:0;
        }
        to{
            transform:translateX(0);
            opacity:1;
            
            
        }
    }
    @keyframes card2{
        from{
            transform:translateY(80%);
            opacity:0;
        }
        to{
            transform:translateY(0);
            opacity:1;
        }
    }
    @keyframes card3{
        from{
            transform:translateX(80%);
            opacity:0;
        }
        to{
            transform:translateX(0);
            opacity:1;
        }
    }