<body>

    <h1> <span class="yellow">WORK EXPERIENCE</span></h1>
  
  
  <table class="container">
      <thead>
          <tr>
              <th><h1>Designation</h1></th>
              <th><h1>Company</h1></th>
              <th><h1>Duration</h1></th>
              <th><h1>Language</h1></th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Software developer</td>
              <td>Aves Smart Home</td>
              <td>6 months</td>
              <td>Java and C</td>
          </tr>
          <tr>
              <td>Software Development Intern</td>
              <td>Zoho Corporation</td>
              <td>6 months</td>
              <td>C, C++</td>
          </tr>
          <tr>
              <td>Member Technical Staff</td>
              <td>Zoho Corporation</td>
              <td>2 years</td>
              <td>C, C++</td>
          </tr>
     
      </tbody>
  </table>
    
    
    
    
    
  
  </body>