<body>
<div class="container maindiv">
    
    <br>
    <div class = "row">

<div class="col-lg-12">
  <h3 class = "title">Latest Tech News</h3>
  <br>
  <div *ngIf ="isloaded ==false" class="d-flex justify-content-center">
  <div class="spinner-border text-warning text-center" style="width: 7rem; height: 7rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

   
    <div  class="row">

      <div *ngFor="let details of articles; let index=index;" class="col-lg-4 col-md-6 col-sm-12 mb-4 ">
        <div class="card h-150">
          <a href="#"><img class="card-img-top" [src]="details.urlToImage" alt=""></a>
          <div class="card-body">

            <h5>{{details.title}}</h5>
            <p class="card-text">{{details.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Source:{{details.source["name"]}}</small>
          </div>
        </div>
      </div>
    </div>

   
   

  </div>
</div>
</div>
</body>